@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap') ;
* {
margin : 0;
padding : 0;
border : 0;
}
html, body {
height : 0;
background-color : #ebe8e7;
font-family : 'Lato', sans-serif;
}
.navbar {
background-color : #7A77B9;
}
.dropdown-menu {
display : none;
position : absolute;
color : #f1f1f1;
min-width : 160px;
box-shadow : 0 8px 16px 0 rgb(0, 0, 0, 0.2);
z-index : 1;
}
.dropdown-menu a {
color : black;
font-weight : 500;
padding : 12px 16px;
text-decoration : none;
display : block;
}
.navbar-light .navbar-nav .nav-link {
color : white;
font-weight : 600;
}
.dropdown:hover .dropdown-menu {
display : block;
}
.navbar a:hover, .dropdown:hover {
background-color : #f2c76e;
text-decoration : underline;
}
#hero-image {
height : 500px;
width : 100%;
animation-name : hero-zoom;
animation-duration : 5s;
animation-fill-mode : forwards;
}
#hero-outer {
height : 100%;
width : 100%;
overflow : hidden;
position : relative;
}
@keyframes hero-zoom {
from {
transform : scale(1);
}
to {
transform : scale(1.1);
}
}
#club-ethos {
padding-left : 10px;
}
 #club-ethos h2, h3 {
text-align : center;
}
#club-ethos h2 {
color : #ea7986;
}
h4 ,#club-ethos h3 {
color : #bd93ea;
}
#club-ethos p {
text-align : center;
}
.team-section {
background-color : #f2c76e;
margin-left : 10px;
margin-right : 10px;
}
.team-section h2 {
color : #ea7986;
}
.team-section h4 {
color : #bd93ea;
}
.orange-text i {
color : red;
}
footer {
background-color : #7A77B9;
min-height : 120px;
margin : 0;
position : static;
}
footer h4 {
color : white;
font-weight : 700;
}
.cv-pdf i {
font-size : 18px;
text-align : center;
padding-left : 5px;
color : #fafafa;
transition : all 0.35s ease-in-out;
}
.cv-pdf i:hover {
color : #e84610;
}
.social-links {
padding-bottom : 15px;
}
.social-links li a i {
width : 32px;
height : 32px;
padding : 12px 0;
border-radius : 50%;
font-size : 13px;
line-height : 7px;
text-align : center;
color : #fafafa;
background : #8f8f8f;
transition : all 0.35s ease-in-out;
}
.social-links li a i:hover {
color : #e84610;
}
@media screen and (max-width: 943px) {
#hero-image {
height : 400px;
width : 100%;
}
#hero-outer {
height : 500px;
width : 100%;
}
}
.section-new {
margin : 0;
}
.city-name {
padding-left : 30px;
}
.responsive-video, .responsive-img {
width : 90%;
height : 75%;
}
.city-img {
height : 80%;
width : 85%;
}
.city-map {
padding-left : 20px;
}
#map {
height : 300px;
width : 100%;
}
.city-video {
height : 400px;
padding-right : 0;
}
.city-weather {
padding-left : 0;
}
li {
text-decoration : none;
}
h3{
	text-transform: capitalize;
	color: red;
	text-align: left;
}
.about-city.highlight {
background : #bd93ea;
}
.content-boxplaces {
width : 100%;
height : 100%;
border-radius : 6px;
padding : 0 20px;
margin-bottom : 20px;
}
.content-titleBefore {
font-size : 22px;
font-family : Roboto;
text-align : left;
line-height : 30px;
}
.content-paraAfter {
display : none;
font-size : 16px;
font-family : Roboto;
text-align : left;
line-height : 18px;
opacity : 0;
}
.content-boxrestaurants {
width : 100%;
height : 100%;
border-radius : 6px;
padding : 0 20px;
margin-bottom : 20px;
}
.content-restaurantsBefore {
font-size : 22px;
font-family : Roboto;
text-align : left;
line-height : 30px;
}
.content-restaurantsAfter {
display : none;
font-size : 16px;
font-family : Roboto;
text-align : left;
line-height : 18px;
opacity : 0;
}
.content-AccHotels {
width : 100%;
height : 100%;
border-radius : 6px;
padding : 0 20px;
margin-bottom : 20px;
}
.content-AccBefore {
font-size : 22px;
font-family : Roboto;
text-align : left;
line-height : 30px;
}
.content-AccAfter {
display : none;
font-size : 16px;
font-family : Roboto;
text-align : left;
line-height : 18px;
opacity : 0;
}
@media screen and (max-width: 768px) {
.responsive-img {
height : 300px;
width : 220px;
}
.responsive-video {
width : 90%;
height : 75%;
}
}
@media screen and (max-width: 600px) {
.responsive-img {
width : 120%;
height : 100%;
}
.responsive-video {
width : 98%;
height : 100%;
}
.about-heading {
padding-top : 20px;
}
.city-weather {
margin-top : 40px;
margin-left : 15px;
}
}
/* for responsive table in adventour tour page */
@media only screen and (max-width: 760px) {
table, thead, tbody, th, td, tr {
display : block;
}
th, td, tr {
font-size : 22px;
}
thead {
position : absolute;
top : -9999px;
left : -9999px;
}
tr {
border : #ccc solid 1px;
}
td {
border : none;
border-bottom : 1px solid #eee;
position : relative;
padding-left : 50%;
}
td:before {
position : absolute;
top : 6px;
left : 6px;
width : 45%;
padding-right : 10px;
white-space : nowrap;
}

}
